<template>
<div>
  <div class="container">
    <div class="top">
      <div class="title">My Stock Watchlist</div>
      <div class="btn-randomize" @click="randomizeWatchlist">Randomize My Watchlist</div>
    </div>

    <div class="stock-btn-container">
      <div 
        class="btn-stock"
        v-bind:class="{active: watched(stock)}"
        v-for="stock in stocklist"
        v-bind:key="stock"
        @click="toggleWatched(stock)"
      >
        {{ stock }} 
      </div>
    </div>

      <LoadingSpinner v-if="loading"/>
      <div class="watchlist-container" v-else>
        <div class="watchlist-header">
          <div class="ticker">Ticker</div>
          <div class="name">Name</div>
          <div class="price">Last Price</div>
        </div>
        <div
          class="list-item"
          v-for="stock in stockData"
          v-bind:key="stock.symbol"
          v-bind:class="{active: stock.symbol == selectedStock.symbol}"
          @click="selectStock(stock)"
        >
          <div class="ticker">{{ stock.symbol }}</div>
          <div class="name">{{ stock.name }}</div>
          <div class="price">{{ stock.mostRecentDay.closePrice }}</div>
        </div>
      </div>
    </div>

    <div class="stock-data" v-if="isNotEmpty(stockData)">
      <b><p>{{ selectedStock.symbol }}</p></b>
      <b><p>{{ selectedStock.name }}</p></b>
      <div class="stock-datapoints">
        <div class="datapoint">
          <b><p>Open Price</p></b>
          <p>{{ selectedStock.mostRecentDay.openPrice }}</p>
        </div>
        <div class="datapoint">
          <b><p>Close Price</p></b>
          <p>{{ selectedStock.mostRecentDay.closePrice }}</p>
        </div>
        <div class="datapoint">
          <b><p>52 Week High Open</p></b>
          <p>{{ selectedStock.yearHighOpen.openPrice }}</p>
        </div>
        <div class="datapoint">
          <b><p>52 Week High Close</p></b>
          <p>{{ selectedStock.yearHighClose.closePrice }}</p>
        </div>
        <div class="datapoint">
          <b><p>Today's Volume</p></b>
          <p>{{ selectedStock.mostRecentDay.volume }}</p>
        </div>
        <div class="datapoint">
          <b><p>Average Volume</p></b>
          <p>{{ selectedStock.averageTradingVolume }}</p>
        </div>
      </div>
    </div>

    <div class="stock-entry">
    </div>

  </div>
</template>
<script>
import LoadingSpinner from '@/components/LoadingSpinner.vue'


export default {
  name: 'Layout',
  components: {
    LoadingSpinner
  },
  data() {
    return {
      loading: false,
      stocklist: ["AONIP", "FB", "APLE", "INTC", "TSLA", "MSFT", "TWTR", "FNKO", "WORK", "AMD"],
      watchlist: [],
      stockData: {},
      selectedStock: {}
    }
  },
  methods: {
    loadWatchlist: function() {
      if(localStorage.getItem("watchlist") === null) {
        this.randomizeWatchlist()
      } else {
        this.watchlist = JSON.parse(localStorage.getItem("watchlist"))
      }
    },
    setWatchlist: function() {
      localStorage.clear()
      localStorage.setItem("watchlist", JSON.stringify(this.watchlist))
    },
    randomizeWatchlist: function() {
      if(this.loading === false) {
        this.watchlist = []
        let randIndices = []
        while (randIndices.length < 3) {
          let i = Math.floor(Math.random() * this.stocklist.length)
          if (randIndices.indexOf(i) === -1) { randIndices.push(i)} 
        }
        for (let index=0; index<randIndices.length; index++) {
          this.watchlist.push(this.stocklist[randIndices[index]])
        }
        this.setWatchlist(this.watchlist)
        this.requestStockData()
      }
    },
    requestStockData: function() {
      this.loading = true
      this.stockData = {}
      let url = "http://localhost:8000/stocks"
      let body = JSON.stringify({"stocks": this.watchlist})
      this.axios.post(url, body, {
        headers: {
          'Content-Type': 'application/json'
        }
      }).then((response)=>{
        this.stockData = response.data.stockData
        this.selectedStock = this.stockData[this.watchlist[0]]
        this.loading = false
      }).catch((error)=>{
        window.console.log(error)
        this.loading = false
      })
    },
    watched: function(stock) {
      return this.watchlist.includes(stock)
    },
    toggleWatched: function(stock) {
      if(this.loading === false){
        if(this.watched(stock)) {
          let i = this.watchlist.indexOf(stock)
            this.watchlist.splice(i, 1)
        } else {
          this.watchlist.push(stock)
        }
        this.setWatchlist()
        this.requestStockData()
      }
    },
    isNotEmpty: function(obj) {
      return Object.keys(obj).length > 0
    },
    selectStock: function(stock) {
      this.selectedStock = stock
    }
  },
  mounted: function() {
    this.loadWatchlist()
    this.requestStockData()
  }
}

</script>
<style scoped>
.container {
  display: block;
  margin: 0 auto;
  min-height: 10em;
  width: 60%;
  border: 2px solid black;
  border-radius: 10px;
}

.top {
  display: inline-block;
  width: 100%;
}

.title {
  float: left;
  text-align: left;
  margin: 30px 0 0 30px;
}

.btn-randomize {
  float: right;
  padding: 8px;
  border: 2px solid black;
  border-radius: 50px;
  margin: 30px 30px 0 0;
  cursor: pointer;
}

.stock-btn-container {
  display: inline-block;
  width: 100%;
  margin-top: 25px;
}

.btn-stock {
  font-size: .8em;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 20px;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.active {
  background: rgb(85, 126, 223);
  color: white;
}

.watchlist-container {
  margin-bottom: 15px;
}

.watchlist-header {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ticker {
  display: inline-block;
  width: 20%;
  text-align: left;
}

.name {
  display: inline-block;
  width: 40%;
  text-align: left;
}

.price {
  display: inline-block;
  width: 30%;
}

.list-item {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.stock-data {
  display: block;
  margin: 0 auto;
  min-height: 10em;
  width: 60%;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 1em;
}

.datapoint {
  display: inline-block;
  width: 50%;
}
</style>